@model CompanyDetailsViewModel
@{
    ViewData["Title"] = "Dados Pessoa Jurífica";
}

@Html.HiddenFor(a => a.CnpjData.Cnpj)
<div class="text-left">
    <h3> Cadastro de Pessoa Jurídica </h3>
    <br />
    <hr />
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th> Última Atualização </th>
                <th> Data Abertura </th>
                <th> Número da Inscrição </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.UltimaAtualizacao) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Abertura) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Cnpj) - @Html.DisplayFor( a => a.CnpjData.Tipo) </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th> Nome Empresarial </th>
                <th> Nome Fantasia </th>
                <th> Código e Descrição da Natureza Jurídica </th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Nome) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Fantasia) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.NaturezaJuridica) </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th> Logradouro </th>
                <th> Número </th>
                <th> Complemento </th>
                <th> CEP </th>
                <th> Bairro </th>
                <th> Município </th>
                <th> UF </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Logradouro) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Numero) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Complemento) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Cep) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Bairro) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Municipio) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Uf) </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th> Endereço Eletrônico </th>
                <th> Telefone </th>
                <th> Capital Social </th>
                <th> Data da Situação Cadastral </th>
                <th> EFR </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Email) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Telefone) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Situacao) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Efr) </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th> Situação Especial </th>
                <th> Motivo Situação </th>
                <th> Data da Situação Especial </th>
                <th> Porte </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.SituacaoEspecial) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.MotivoSituacao) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.DataSituacaoEspecial) </td>
                <td class="table-active"> @Html.DisplayFor( a => a.CnpjData.Porte) </td>
            </tr>
        </tbody>
    </table>
    <div>
        @if (Model.CnpjData.AtividadePrincipal?.Any() ?? false)
        {
            <div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="2"> Atividade Econômicas Primárias </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th class="table-active"> Código </th>
                            <th class="table-active"> Descrição </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var atividadesprincipal in Model.CnpjData.AtividadePrincipal)
                        {
                            <tr>
                                <td class="table-active"> @atividadesprincipal.Code </td>
                                <td class="table-active"> @atividadesprincipal.Text </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (Model.CnpjData.AtividadesSecundarias?.Any() ?? false)
        {
            <div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="2"> Atividade Econômicas Secundárias </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th class="table-active"> Código </th>
                            <th class="table-active"> Descrição </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var atividadesSecundarias in Model.CnpjData.AtividadesSecundarias)
                        {
                            <tr>
                                <td class="table-active"> @atividadesSecundarias.Code </td>
                                <td class="table-active"> @atividadesSecundarias.Text </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (Model.CnpjData.Qsa?.Any() ?? false)
        {
            <div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="5"> Quadro do Societário </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th class="table-active"> Nome do Sócio </th>
                            <th class="table-active"> Nome Representante Legal </th>
                            <th class="table-active"> País de Origem </th>
                            <th class="table-active"> Qualificação do Sócio </th>
                            <th class="table-active"> Qualificação do Representante Legal </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var qsas in Model.CnpjData.Qsa)
                        {
                            <tr>
                                <td class="table-active"> @qsas.Nome </td>
                                <td class="table-active"> @qsas.NomeRepLegal </td>
                                <td class="table-active"> @qsas.PaisOrigem </td>
                                <td class="table-active"> @qsas.Qual </td>
                                <td class="table-active"> @qsas.QualRepLegal </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <div class="align-content-center" style="margin-top: 30px; margin-block: 50px">
        @Html.ActionLink("Voltar", "Index", "Company", new { page = 1 }, new { @class = "btn btn-secondary" })
    </div>
    <br />
</div>